footer.footer-wrapper.clearfix
   .footer.container
      .row
         .footer-image.col-sm-12.col-md-5.col-lg-4
            img(src='/images/floodtags-logo-square.png', alt='Floodtags')
            br
            | FloodTags would not be possible without the enormous contribution of the ‘tagging’ public. They are the ones that report the floods, share observations, help fellow citizens.
      
         .credentials.col-sm-12.col-md-5.col-md-offset-2.col-lg-4.col-lg-offset-4.text-right
            ul.list-unstyled
               li: a(href='mailto:info@floodtags.com') info@floodtags.com
                  img.icon(src='/images/footer/email.png', alt='mail')

               li: a(href='https://twitter.com/floodtags') @floodtags
                  img.icon(src='/images/footer/twitter.png', alt='twitter')

               li +31 6 45324806
                  img.icon(src='/images/footer/telefoon.png', alt='telephone')

               li: a(href='https://www.floodtags.com') www.floodtags.com
                  img.icon(src='/images/footer/website.png', alt='website')