{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="shortcut icon" href="{% static 'favicon' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />

<title>{% block title %}Home - Relevancer{% endblock %}</title>


<style>

html {
    color: #222;
    font-size: 1em;
    line-height: 1;
    height:100%;
	 margin:0;
	 background-color: #D7E1F7;
}
li {
	padding: 5px 0; 
	list-style-type:none;	
}

ul{
	padding: 0;
}
{% block css %}{% endblock %}

</style>


</head>

<body>


	<div style="text-align:center;">
	
		<br>	
	
		<h1><a href="{% url 'home' %}">Relevancer</a></h1>
		
		<br>	

		{% block main %}
		
		<h5>Choose one of the clusters available;</h5>
		

		{% if collectionlist %}		
		
				<ul>
					{% for collname in collectionlist %}
								<li>
										<a href="{% url 'cluster' collname %}">{{ collname }}</a></a>
								</li>
					{% endfor %}		
				</ul>			
		
		{% endif %}
		
		
		<form method="post" action="{% url 'home' %}">
				{% csrf_token %}
  				<input type="text" name="newcollection"  placeholder="write collection name here" required/><br>
  				<input type="submit" name="addcollection" value="Add New Collection">
 	 	</form>


		{% endblock %}

	</div>

</body>

</html>
