{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="shortcut icon" href="{% static 'favicon' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />

<title>{% block title %}Home - Relevancer{% endblock %}</title>


<style>

html {
    color: #222;
    font-size: 1em;
    line-height: 1;
    height:100%;
	 margin:0;
	 background-color: #D7E1F7;
}
li {
	padding: 5px 0; 
	list-style-type:none;	
}

ul{
	padding: 0;
}

{% block css %}{% endblock %}

</style>


</head>

<body>


	<div style="text-align:center;">
	
		<br>	
	
		<h1><a href="{% url 'home' %}">Relevancer</a></h1>
		
		<br>	

		{% block main %}
		
		<!-- a href="{% url 'clustering' %}">Cluster the Tweets</a -->		
		
		<a href="{% url 'howitworks' 'Raw_Data' %}">How Relevancer Works?</a>
		
		<h4>Choose one of the clusters available;</h4>
		

		{% if collectionlist %}		
		
				<ul>
					{% for coll in collectionlist %}
								<li>
										<b>"{{ coll.0 }}"</b> <br>
										{{ coll.1 }} clusters in total <br> {{ coll.2 }} not labeled yet, {{ coll.3 }} already labeled<br>
										<a href="{{ coll.0 }}/unlabeled">Not Labeled</a> <br>
										<a href="{{ coll.0 }}/labeled">Labeled</a> <br><br>
								</li>
					{% endfor %}		
				</ul>			
		
		{% endif %}
		
		
		<form method="post" action="{% url 'home' %}">
				{% csrf_token %}
  				<input type="text" name="newcollection"  placeholder="write collection name here" required/><br><br>
  				<input type="submit" name="addcollection" value="Add New Collection">
 	 	</form>
 	 	
 	 	<h6>! WARNING : You need to refresh the page manually after this process</h6>


		{% endblock %}

	</div>

</body>

</html>
